.Input-input-1{
    /*cima, direita, baixo, esquerda*/
    padding: 26px 10px 20px 6px;
    min-width: 450px;
    height: 60px !important;
    font-size: 15px;
    border: solid 1px #8c8c8c
}

.Input-input-2{
    display: flex;
    align-items: center;
    margin: auto;
    /*cima, direita, baixo, esquerda*/
    padding: 12px 10px;
    margin-bottom: 15px;
    width: 310px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    background-color: rgba(170, 169, 169, 0.924);
}