.Input-input-1{
    /*cima, direita, baixo, esquerda*/
    padding: 26px 10px 20px 6px;
    width: 500px;
    font-size: 15px;
}

.Input-input-2{
    /*cima, direita, baixo, esquerda*/
    padding: 12px 10px;
    margin-left: 66px;
    margin-bottom: 15px;
    width: 310px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #141414;
}