.movie--container {
    margin-bottom: 30px;
}

.movie--container h2 {
    margin: 0px 0px 0px 30px;
}

.movie--area {
    overflow-x: hidden;
}

.movie--row {
    display: inline-block;
    width: 150px;
}
