  
.HomeScreen{
    position: absolute;
    background: url(https://wallpapercave.com/wp/wp3327517.jpg) no-repeat;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: 100%;

}

img {
    margin-left: 10px;
}

.HomeScreenHeader{
    position: fixed;
    display: flex;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.1), rgba(0,0,0,0.5));
}

.HomeScreenMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 150px;
}
