@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
}

 header {
     position: fixed;
     z-index: 999;
     padding: 0 30px;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: transparent;
     
     

 }

 header .logo-name {
     height: 25px;

 }
 header .logo-name img {
     height: 100%;
 }


header .navbar-menu a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

header .navbar-menu a:hover {
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 4px 0px;
    transition: all 0.4s ease 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

 header.color-action {
     background: rgb(11, 25, 35);
 }

