@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

 header {
     font-weight: bolder;
     position: fixed;
     z-index: 999;
     display: flex;
     align-items: center;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     background: #141414;
     cursor: pointer; 

 }

 header .navbar-menu a:hover {
    border-bottom: 2px solid rgb(237, 214, 71);;
    border-right-width: 0.5px;
    transform: all ease (0.4);
}


 header .logo-name {
     height: 25px;

 }
 header .logo-name img {
     height: 100%;
 }


header .navbar-menu a {
    color: #fff;
    padding: 0.5rem 0.75rem;
}


 header.color-action {
     background: rgb(11, 25, 35);
 }

 header .search-bar-container {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     margin-top: 14px;
     margin-right: 20px;
     padding: 7px 0;

 }



i {
    opacity: 0.3;
    padding-right: 10px;
}

 header .search-bar-container .search-bar {
     font-size: 1.7rem;
     padding: 3px 0;
     width: 240px;
     background: #131212;
     border: 1px solid rgba(76, 84, 88, 0.5);
     color: #8197a4;
     height: auto;
     font-size: 17px;

 }


