@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


 header {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

.logo-name {
    height: 25px;
}

.logo-name img {
    height: 100%;
}

.react-logo img{
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    border: none;
    object-fit: contain;
}
