@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


 header {
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     display: flex;
     justify-content: space-between;
 }

.logo-name {
    height: 30px;
}

.logo-name img {
    height: 100%;
}

.react-logo span{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    
}