@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 header {
     font-weight: bolder;
     position: fixed;
     z-index: 999;
     display: flex;
     align-items: center;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     background: #141414;
     
     

 }

 header .logo-name {
     height: 25px;

 }
 header .logo-name img {
     height: 100%;
 }


header .navbar-menu a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 0.5rem 0.75rem;
}

header .navbar-menu a:hover {
    border-bottom: 1px solid rgb(237, 214, 71);;
    border-right-width: 0.5px;
    transform: all ease (0.4);
}

 header.color-action {
     background: rgb(11, 25, 35);
 }

 header .search-bar-container {
     padding: 34px;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     padding: 1.5rem 2rem;
     display: flex;
     align-items: center;
     justify-content: flex-end;

 }

