 header {
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     display: flex;
     justify-content: space-between;
 }

 .logo-name h1{
     color: rgb(245, 208, 31);
 }