@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
}

 header {
     font-family: 'Montserrat', sans-serif;
     color: #fff;
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     display:block;

 }

 .nav-bar {
     display: inline-block;
     margin: auto;
 }